{% extends 'base.html' %}
{% block title %} Account Records {% endblock %} 

{% block content %}
{% include 'finance/navbar.html' %}

<a href="/accounts/{{account.id}}/records/add_record">
    <button type="button" class="
    bg-[#79E684] rounded-lg p-4
    fixed z-90 bottom-10 right-8
    hover:bg-[#F8F8F8] transition-opacity">
        Add New Record
    </button>
</a>

{% load humanize %}
<div class="ml-20 mr-20">
    <a href="/accounts/{{account.id}}/" class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 mt-5 mb-5">
        <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{account.name}}</h5>
        <p class="font-medium text-teal-700">
            {{account.type | capfirst }}
        </p>
        <p class="font-normal text-gray-700">
            {{account.desc}}
        </p>
        <p class="font-light text-gray-700">
            ₱ {{ account.balance | intcomma }}
        </p>
    </a>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="bg-[#79E684] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type='submit'>Filter</button>
    </form>
    
    <div>
        {% for rec in account_records %}
        <a href="/accounts/{{account.id}}/records/{{rec.id}}" class="block w-full p-5 ml-1 ml-1 mt-2 mb-2 rounded-lg shadow hover:bg-gray-400">
            <h2 class="mtext-1xl font-bold tracking-tight text-gray-900"> {{rec.name}} </h5>
            <p class="text-sm italic">{{rec.date}} </p>
            <p class="text-sm text-gray-500"> {{rec.note}} </p>
            <div class="font-mono">
                <p class="text-lg text-green-700">+ ₱ {{rec.income | intcomma}} </p>
                <p class="text-lg text-red-700">- ₱ {{rec.spend | intcomma }} </p>
                <div class="m-1">
                    {% for rec_type in rec.type.all %}
                        <span class="bg-[{{rec_type.color}}] p-1 rounded m-0.5"> {{rec_type}} </span>
                    {% endfor %}
                </div>
                
            </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}