{% extends 'base.html' %}
{% block title %} Edit Account {% endblock %} 

{% block content %}
{% include 'finance/navbar.html' %}

<div class="ml-20 mr-20">
    {% if error %}
    <div role="alert">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
          Danger
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
            <p> {{error}} </p>
        </div>
      </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button style='margin-top:10px;' type='submit' >Save Changes</button>
    </form>
</div>

{% endblock %}